.front-end-description{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}

.back-end-title{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    width: 150px;
}

.front-end-title{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
}

.box{
    display: -webkit-box;
}
